<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>flyleaf</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/bootstrap-responsive.css" rel="stylesheet">
    <!--link href="/css/style-responsive-green.css" rel="stylesheet"-->
    <link href="/css/font-awesome.min.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Google Web Font-->
    <link href='http://fonts.googleapis.com/css?family=Ubuntu:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Ubuntu+Condensed' rel='stylesheet' type='text/css'>


    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="../assets/ico/favicon.png">
  </head>

  <body>

	<div class="container">

	  <div class="row top-bar">
		<div class="span12">
		  <%= link_to image_tag("/img/flyleaf_logo.png"), :home_index %>
		</div>
      </div>

      
      <div class="row" id="maincontent">
      	<div class="span12">
          <h2>Share your book &amp; connect with your readers</h2>        
          <p>You wrote the most amazing story and want to share it with the world?</p>
          <p>Flyleaf gives you an easy way to distribute your book and reach your readers.</p>        
        </div><!--end span12-->            
      </div><!--end row-->
      
      <%= render "upload_form" unless @book_link %>
      <%= render "result_box" if @book_link %>

      <div class="row" id="features">
      	<div class="span3 divider">
        	<div class="featureicon"><i class="icon-book"></i></div>
            <h3>Upload your book</h3>
            <p>Upload from your computer any book in <strong>EPUB&reg;</strong> format you want to share.  Only share your own work.</p>
        </div>        
        <div class="span3 divider">
        	<div class="featureicon"><i class="icon-external-link"></i></div>
            <h3>Get a link</h3>
            <p>Get a short, unique link to your book that your readers can use to access it at any time, anywhere.</p>
        </div>       
        <div class="span3 divider">
        	<div class="featureicon"><i class="icon-envelope"></i></div>
            <h3>Send to your readers</h3>
            <p>Share your link with your readers through email, Facebook, Twitter or a message in a bottle.  It's simple.</p>
        </div>
         <div class="span3">
        	<div class="featureicon"><i class="icon-tablet"></i></div>
            <h3>Read on any device</h3>
            <p>Your readers can enjoy reading your book on any device &mdash; no need to download or store anything.</p>
        </div>
      </div><!--end row-->
      
      <div class="row" id="footer">
        <h4>
          About <i class="icon-leaf"></i>
          Privacy <i class="icon-leaf"></i>
          Terms <i class="icon-leaf"></i>
          Copyright <i class="icon-leaf"></i>
          Contact
        </h4>
        <!--div class="footericon"><a href="https://twitter.com/madebyraj"><i class="icon-twitter-sign"></i></a></div-->
        <p>&copy;2013 Flyleaf. All rights reserved.</p>
      </div><!--end row-->      
    </div><!--end container-->     



  <!--div class="row-fluid">
	<div class="span12 top-bar">
	  <div class = "container"><img src="/img/flyleaf_logo.png"></div>
	</div>
  </div>
	
  <div class = "row-fluid"> 
	<div class="span12 upload-region">

	  <div class = "container">		
		<div class = "header1">Start sharing your content in three easy steps!</div>
		<div class="row-fluid">
	      <div class="span4 instruction-box">
	        <h2>Step 1</h2>
	        <p>Click on the upload content button below.</p>
	      </div>
	      <div class="span4 instruction-box">
	        <h2>Step 2</h2>
	        <p>Select the content you want to share. </p>
	      </div>
	      <div class="span4 instruction-box">
	        <h2>Step 3</h2>
	        <p>We will give you a URL link to your content that you can share with your friends.</p>
		  </div>
		</div>
		<div class = "row-fluid">
		  <div class = "span1"></div>
	 	  <div class = "span10 flyleaf-pov">
			<%= form_tag({:action => :upload}, :multipart => true) do %>
 			  <%= file_field_tag 'epub', :onchange => 'submit();' %>
			  <button type='submit' class="btn btn-upload btn-large top-large-space bottom-large-space">Upload</a>
			<% end %>
		  </div>
		  <div class = "span1"></div>
		</div>
	  </div>

	  </div>
	</div>

    <hr>
	<div class ="container">

      <footer>
        <p>&copy; flyleaf.me 2013</p>
      </footer>
	</div-->


    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/jquery-1.8.3.min.js"></script>
    <script src="/js/bootstrap.js"></script> 

  </body>
</html>
